<main>
    <div class="row">
      <div class="col-lg-2 text-center">
        ジャンル検索
      </div>
      <div class="col-lg-8">
        <p class="mx-auto my-5 fw-bold">
          ようこそながのCAKEへ！！<br />
          このサイトは、ケーキ販売のECサイトになります。<br />
          会員でない方も商品の閲覧はできますが、<br />
          購入には会員登録が必要になります。<br />
        </p>
      </div>
    <% if false %>
      <div class="col-10">
        <h3>新着商品</h3>
        <% @items.each do |item| %>
        <div>
          <%= attachment_image_tag item, :image, :fill, 60, 60, format: 'jpeg' %>
          <i><%= item.name %></i>
          <i>￥<%= item.price %></i>
        </div>
        <% end %>
        <p class="text-right">
      　<%= link_to "全ての商品を見る>", items_path %>
      　</p>
      </div>
    <% end %>
    </div>
</main>

