<div class="container">
  <div class="row">
    <h4 class="bg-light text-black">ジャンル編集</h4>
  </div>

  <br>

  <div class="row">
 　  <%= form_with model: @genre, url:admin_genre_path do |f| %>
    　<div class="form-group row">
    　　  <div><%= f.label :ジャンル名 %></div>
  　　　　  <div><%= f.text_field :name %></div>
  　　　　  <div><%= f.submit "変更を保存", class: "btn btn-success" %></div>
  　　  </div>
  　  <% end %>
  </div>
</div>

